#number{
    height: 25px;
    width: 300px;
    border-radius: 30px;
    color: dimgray;
    background-color: black;
    
}

#btn{
    height: 25px;
    width: 100px;
    background-color: lawngreen;
    border-radius: 30px;
}
#back{
    height: 10000px;
    width: 10000px;
    background-color:#f4f55d;
    
}